{% extends "index.html" %}

{% block content %}
<h1 class="text-center m-lg-5">Logar</h1>

<div class="container text-center">
    <form action="/login" method="POST">
        <div class="row">
            <div class="col">   
                <label for="email" class="form-label fs-4"><i class='bx bxs-envelope me-2' ></i>Seu e-mail</label> 
                <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com">
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <label for="senha" class="form-label fs-4"><i class='bx bxs-lock-alt me-2'></i>Sua senha</label> 
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha segura">
            </div>
        </div>
        <div class="row my-5">
            <button type="submit" class="btn btn-primary w-70">Entrar</button>
        </div>
    </form>
</div>
{% endblock %}